header {
    position: fixed !important;
}

.btnMenu{
  text-transform: capitalize;
  height: 100% !important;
  font-size: 16px;
}

.containerModal {
    max-width: 30rem;
}

.v-img{
    width: 20rem;
    height: 20rem;
    margin: auto;
    border-radius: 50%;
}

.divBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.divBtn > * {
    width: 40% !important;
    height: 3rem !important;
}
